<!DOCTYPE html>
<html>
<head>
	<title>FOAQ - Home</title>
</head>
<body>
	<!-- header slider section -->
	<div class="carousel slide" data-ride="carousel">
	  <div class="carousel-inner">
			<div class="carousel-item active">
			 <div class="jumbotron jumbotron-fluid" id="s1">
			  <div class="container">
			    <h1 class="display-4">Book unique homes and experiences all over the world.</h1>
			    <span class="lead">Book a top-rated home that offers reservation flexibility and work-trip essentials.</span>
			  </div>
			 </div>
			</div>

			<div class="carousel-item">
			 <div class="jumbotron jumbotron-fluid" id="s2">
			  <div class="container">
			    <h1 class="display-4">Relak la bro ~</h1>
			    <span class="lead">Take a brake after the bootcamp, but dont forget to keep coding</span>
			  </div>
			 </div>
			</div>
	  </div>
	</div>

	<h1>Welcome to FOAQ</h1>

	<%= link_to "Ask a Question", new_question_path %> |
	<%= link_to "All Question", questions_path %> |

</body>
</html>